<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ movie }}</title>
    </head>
    <body align='center'>
        <div>
            <span>
                <a href='http://127.0.0.1:8000/ratings/'><button style="height:30px;width:150px"><font size='3'>Home</font></button></a>
            </span>
            <span>
                <a href='http://127.0.0.1:8000/ratings/movies/'><button style="height:30px;width:150px"><font size='3'>Full Movie List</font></button></a>
            </span>
            <span>
                <a href='http://127.0.0.1:8000/ratings/top/'><button style="height:30px;width:150px"><font size='3'>Top Rated</font></button></a>
            </span>
            <span>
                <a href='http://127.0.0.1:8000/ratings/raters/'><button style="height:30px;width:150px"><font size='3'>User Information</font></button></a>
            </span>
            {% if is_authenticated %}
            <span>
                <a href="{% url "django.contrib.auth.views.logout" %}?next=/accounts/logout_success/"><button style="height:30px;width:150px"><font size='3'>Logout</font></button></a>
            </span>
            {% else %}
            <span>
                <a href='http://127.0.0.1:8000/login'><button style="height:30px;width:150px"><font size='3'>Login</font></button></a>
            </span>
            {% endif %}
        </div>
        <hr>
        <h3 align='center'>You are viewing the full details for: </h3>
        <h1 align='center'><b><u>User {{ rater.id }}</u></b></h1>

        <table align='center' style="width:20%" border='1'>
            <tr align='center' height='25'>
                <th><u>Age</u>:</th>
                <td>{{ rater.age }}</td>
            </tr>
            <tr align='center' height='25'>
                <th><u>Sex</u>:</th>
                <td>{{ rater.sex }}</td>
            </tr>
            <tr align='center' height='25'>
                <th><u>Occupation</u>:</th>
                <td>{{ rater.occupation }}</td>
            </tr>
        </table>
        <br>

        <h2 align='center'><u><font size='5'>All Ratings</font></u></h2>

        <table align='center' cellpadding='5'>
            <tr align='left' height='25'>
                <th><u>Average Rating Given</u>:</th>
                <td align='center' width='50'>{{ rater.avg_rating }}</td>
                <td align='left'>|</td>
                <th><u>Total Number of Ratings</u>:</th>
                <td align='center' width='50'>{{ rater.total_ratings }}</td>
            </tr>
        </table>

        <p align='center'>***If you want to see more information on the ratings, simply click the rater's information***</p>

        <table align='center' cellpadding='5' border='1'>
            <tr>
                <th>Movie</th>
                <th>Score</th>
            </tr>
            {% for rating in ratings %}

            <tr align='center'>
                <td><a href="{% url 'ratings:movie_detail' rating.movie_id %}">{{rating.movie_name}}</a></td>
                <td>{{rating.score}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
