<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
    </head>
    <body align='center'>
        <div>
            <h1>You have successfully logged out. Please continue browsing the database via the links below!</h1>
            <br><br>
            <a href='http://127.0.0.1:8000/login'><button style="height:75px;width:200px"><font size='3'>Login</font></button></a>
            <a href='http://127.0.0.1:8000/ratings/movies/'><button style="height:75px;width:200px"><font size='3'>Full Movie List</font></button></a>
            <a href='http://127.0.0.1:8000/ratings/top/'><button style="height:75px;width:200px"><font size='3'>Top Rated Movies</font></button></a>
            <a href='http://127.0.0.1:8000/ratings/raters/'><button style="height:75px;width:200px"><font size='3'>User Information</font></button></a>
        </div>
    </body>
</html>
